<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>TrainerUpdateServlet</display-name>
    <servlet-name>TrainerUpdateServlet</servlet-name>
    <servlet-class>com.backend.TrainerUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerUpdateServlet</servlet-name>
    <url-pattern>/TrainerUpdateServlet</url-pattern>
  </servlet-mapping>
  <display-name>Admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TrainerDetailsServlet</display-name>
    <servlet-name>TrainerDetailsServlet</servlet-name>
    <servlet-class>com.backend.TrainerDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerDetailsServlet</servlet-name>
    <url-pattern>/TrainerDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDetailsServlet</display-name>
    <servlet-name>deleteDetailsServlet</servlet-name>
    <servlet-class>com.backend.deleteDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDetailsServlet</servlet-name>
    <url-pattern>/deleteTrainer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editDetailsServlet</display-name>
    <servlet-name>editDetailsServlet</servlet-name>
    <servlet-class>com.backend.editDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editDetailsServlet</servlet-name>
    <url-pattern>/editTrainer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegister</display-name>
    <servlet-name>AdminRegister</servlet-name>
    <servlet-class>com.backend.AdminRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegister</servlet-name>
    <url-pattern>/AdminRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.backend.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdmin</display-name>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>com.backend.LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.backend.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
</web-app>