<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>UserFormServlet</display-name>
    <servlet-name>UserFormServlet</servlet-name>
    <servlet-class>com.backend.UserFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFormServlet</servlet-name>
    <url-pattern>/UserFormServlet</url-pattern>
  </servlet-mapping>
  <display-name>Ui</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TrainerDetailsUser</display-name>
    <servlet-name>TrainerDetailsUser</servlet-name>
    <servlet-class>com.backend.TrainerDetailsUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerDetailsUser</servlet-name>
    <url-pattern>/TrainerDetailsUser</url-pattern>
  </servlet-mapping>
</web-app>